/* slider style */
/* this style overide the nouisider.css default style */
.param-slider .slider {
    display: flex;
    flex: 1;
    margin: 0 10px 0 15px;
    height: 1px;
    background: rgba(178, 178, 178, 0.5);
    border-radius: 0;
    border: none;
    box-shadow: none;
    .noUi-connect {
        height: 3px;
        background-color: #B2B2B2;
        // position: relative;
    }
    .noUi-handle {
        width: 12px;
        height: 22px;
        left: -6px;
        top: -11px;
        cursor: pointer;
        background-color: $app-light-blue;
        border: 2px solid $app-white;
        border-radius: 6px;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
        &:after, &:before {
            content: '';
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
}

.hold-value {
    border-top: 12px solid #FFD800;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    left: 70%;
    top: -15px;
    display: none;
}
